// COLORS

$white-color: #ffffff;
$primary-color: #00cc99;
$secondary-color: #0066cc;
$section-bg-color: #f0f8ff;
$custom-btn-bg-color: #0066cc;
$custom-btn-bg-hover-color: #00cc99;
$dark-color: #000000;
$p-color: #717275;
$border-color: #7fffd4;
$link-hover-color: #0066cc;

// FONT FAMILY

$body-font-family: "Montserrat", sans-serif;
$title-font-family: "Sono", sans-serif;

// Border

$border-radius-large: 100px;
$border-radius-medium: 20px;
$border-radius-small: 10px;

// BOX SHADOW

$normal-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
