@use "../abstracts/variables";
.favIcon {
  &__box {
    background-color: variables.$dark-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: variables.$secondary-color;
    }
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    color: variables.$white-color;
  }
}
