@use "../abstracts/variables";

.nav {
  &__list {
    display: flex;
    list-style: none;
    gap: 4rem;
  }

  &__item {
    &:link,
    &:visited {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.4rem;
      font-family: variables.$title-font-family;
      text-decoration: none;
      color: variables.$white-color;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: variables.$link-hover-color;
    }
  }
}
