@use "../abstracts/variables";

.speaker {
  flex-shrink: 0;
  border-radius: 2rem;
  overflow: hidden;
  width: 30rem;
  position: relative;
  opacity: 0.5;

  &__active {
    opacity: 1;
  }

  &__img {
    width: 100%;
    height: 35rem;
    object-position: top;
    object-fit: cover;
    display: block;
  }

  &-box-text {
    background-color: variables.$section-bg-color;
    padding: 3rem;
    text-align: left;
  }

  &__name {
    font-size: 3rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  &__tag {
    font-size: 1.2rem;
    background-color: variables.$secondary-color;
    color: variables.$white-color;
    padding: 0.2rem 0.8rem;
    font-weight: bold;
    border-radius: 10rem;
  }

  &__social {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 0;
  }

  &__active:hover &__social {
    bottom: 12rem;
    right: 3rem;
    opacity: 1;
  }

  &__profile {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  &__speaker-img-box {
  }

  &__profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
  }

  &__profile--name {
    color: variables.$p-color;
    margin-bottom: 0.2rem;
  }

  &__profile--type {
    font-weight: bold;
    font-family: variables.$title-font-family;
    color: variables.$p-color;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
  }
}
