*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #20c997;
  color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}
