.section-hero {
  background-image: url("../../images/templatemo-wave-banner.jpg"),
    linear-gradient(#348cd2, #ffffff);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 108% 76%;
}

.section-lastest {
  padding-bottom: 10rem;
}

.section-topics {
  padding-bottom: 10rem;
}

.section-trending {
  padding-bottom: 10rem;
}

.section-footer {
  padding-bottom: 10rem;
  background-image: url("../../images/templatemo-wave-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
